:root {
  --transmission-lines-color: blue;
  --buildings-color: #ff0000;
}

html, body {
  margin: 0; 
  padding: 0; 
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}


.App-header {
  height: 30px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 5px #bc5a5a;
  width: 100%;
  text-align: center;
}

.App-footer {
  height: 30px;
  padding: 10px;
  position: absolute;
  /* z-index: 2; */
  font-weight: bold;
  text-shadow: 0 0 5px #bc5a5a;
  width: 100%;
  text-align: center;
}



/* home */

#map {
  height: 100vh;
  width: 75%;
  position: relative;
  z-index: 1;
}

#dashboard {
  height: 100vh;
  width: 25%;
  margin: 20px;
}

#map-legend {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

#map-legend h4, p {
  margin: 0 0 5px 0;
}

#transmission-lines-legend, #buildings-legend {
  padding: 0 10px;
  border-radius: 3px;
}

#transmission-lines-legend {
  background-color: var(--transmission-lines-color);
}

#buildings-legend {
  background-color: var(--buildings-color);
}

